<?xml version="1.1" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>
	
	<!-- 读取配置文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:/application.properties" />

	<bean id="userRealm" class="com.gc.common.shiro.UserRealm" />

	<!-- Shiro的主要业务层对象基于web的应用程序 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm" />
		<!--<property name="cacheManager" ref="shiroEhcacheManager" />-->
		<property name="rememberMeManager" ref="rememberMeManager" /><!-- 记住密码 -->
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="myCaptchaFilter" class="com.gc.system.utils.FormAuthenticationCaptchaFilter"/>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/system/login" />
		<property name="successUrl" value="/" />
		<property name="unauthorizedUrl" value="/system/login"/>
		<property name="filters">
		    <map>
		         <entry key="authc" value-ref="myCaptchaFilter"/>
		    </map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/resource/** = anon
				/system/login = authc
				/system/uploadResourceList=user
				/system/usercenter=user
				/system/rlManager=user
				/system/hsManager=user
				/system/userManager=user
				/system/persionInfo=user
				/system/changePwd=user
				/logic/uploadRl=user
				/logic/uploadHs=roles["admin"]
				/logic/deleteRl=user
				/auth/userManagerPage=roles["admin"]
				/auth/changeRole/**=roles["admin"]
				/uc/**=user
			</value>
		</property>
	</bean>
	
<!--	 用户授权信息Cache, 采用EhCache
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:cache/ehcache-shiro.xml"/>
	</bean>-->
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<!-- AOP式方法级权限检查  -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean>
	
	<!-- 实现记住密码功能开始 -->
	<!-- remenberMe配置 -->
   <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
       <constructor-arg value="rememberMe" />
       <property name="httpOnly" value="true" />
       <!-- 默认记住7天（单位：秒） -->
       <property name="maxAge" value="604800" />
   </bean>
   <!-- rememberMe管理器 -->
   <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
       <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
       <property name="cookie" ref="rememberMeCookie" />
   </bean>
   <!-- 实现记住密码功能结束 -->
</beans>